body{
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(199,216,235,1) 100%);
    overflow: hidden;
}
/*---------HOME---------*/
.emjay-logo{
   margin-top: 10px;
   margin-left: 15px;
   margin-bottom: 0px;
   font-size: 30px;
   color: rgb(0, 0, 0);
}

.p-logo{
    color: rgb(10, 189, 248)
}

.nav-top{
    color: gray;
    font-family: arial;
    text-align: right;
    word-spacing: 40px;
    padding-right: 20px;
    margin-top: 15px;
    padding-bottom: 10px;
    cursor: pointer;
}

.main-content{
    font-size: 30px;
    width: 200px;
    height: 40px;
    font-family: arial;
    margin-top: 30px;
    margin-left: 150px;

}

.name{
    font-family: arial;
    font-size: 35px;
    line-height: 1.4;
    text-transform: none;
    line-height: 90px;
    width: 350px;
  
}

.emjay-introduction{
    color:  rgb(10, 189, 248);
    font-family: bold;

}

.img{
    width: 335px;
    float: right;
    filter: drop-shadow(53px 1px 38px #ce1cf2);
}
/*---------SERVICES-----------*/

.header-services{
    color: black;
    text-align: center;
    font-size: 35px;
    padding-top: 40px;
    margin-bottom: 40px;
}

.container-service{
   
    cursor: pointer;
    display: flex;
    justify-content: center;
    
}
    
.card{
    width:200px;
    height: 220px;
    border-radius: 8px;
    background-color: #0097b2;
    margin-right: 25px;
    transition:  1s;
    box-shadow: 5px 10px #888888;
    border: black 1px solid;

}

.card:hover{
    background-color: white;  
    transform: scale(1.3);
}

.name-work{
    font-weight: bold;
    font-family: arial;
    text-align: center;
}

.work-offer{
    font-family: arial;
    text-align: center;
   
}

/* --------about---------------*/

.services{
    color: black;
    text-align: center;
    font-size: 35px;
}

.header-aboutme{
    line-height: 5;
    margin-left: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 20px;
    color:black
    

}
.container-about-info{
    background-color:rgba(116, 193, 223, 0.5);
    width: 550px;
    font-size: 16px;
    font-family: arial;
    margin-left: 45px;
    line-height: 30px;
    border-radius: 6px;
  
}

.footer{
    margin-left: 20px;
    margin-top: 30px;
    border: none;
    font-size: 20px;
    font-weight: bold;
}

.school{
     padding-top: 0;
     padding-left: 20;
}

/*------------CONTACT------------*/
.container-contact{
    line-height: 5;
    text-align: left;
    margin-left: 35px;
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 20px;
    color:black;
    
}

.container-social{
    width: 200px;
    display: flex;
    justify-content: center;
    margin-bottom: 5vh;
    transition: 1s;
}

.container-social:hover{
    transform: scale(1.3);
}

.fa-facebook{
    font-size: 100px;
    color: rgb(32, 17, 242);
}

.fa-instagram{
    
    font-size: 100px;
    color:#833ab4;
    background: linear-gradient(
      to right,
      #833ab4,#fd1d1d,#fcb045);
}

.fa-phone{
    font-size: 100px;
    color: white;
}

.form{
    margin-right: 500px;
    margin-top: 30px;
    text-align: right;
    width: 300px;
}
